@import url('../images/css/font-awesome.min.css');
* {
    margin: 0;
    padding: 0;
}

html,
body,
 {
    height: 100%;
    width: 100%    
}
div{
    width: 100%;
    height: 100%;
}
.conTent {
    width: 100%;
    height: 100%;
    overflow: hidden;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#tipWrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
}

#tipWrapper .backgroundDv {
    background: cadetblue;
    opacity: .5;
}

#tipWrapper .tipContainer {
    position: absolute;
    width: 50%;
    background: #fff;
    height: auto;
    min-height: 200px;
    top: 20%;
    left: 25%;
    border-radius: 5px;
}

#tipWrapper .tipContainer .tipheader {
    width: 100%;
    height: 30px;
    font-size: 14px;
    font-weight: 100;
    font-style: normal;
    line-height: 30px;
    border-bottom: 1px solid cadetblue;
}

#tipWrapper .tipContainer .tipheader h2 {
    font-size: 16px;
    font-style: normal;
    height: 30px;
    width: 100%;
    line-height: 30px;
    position: relative;
}

#tipWrapper .tipContainer .tipheader h2 em {
    display: block;
    width: 100%;
    height: 100%;
    font-style: normal;
    color: cadetblue;
    text-align: center;
    font-weight: 600;
}

#tipWrapper .tipContainer .tipheader h2 i {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    color: cadetblue;
    font-size: 20px;
    top: 2px;
    right: 7px;
    cursor: pointer;
}

#tipWrapper .tipContainer .tipMidle {
    min-height: 150px;
    width: 100%;
}

#tipWrapper .tipContainer .tipMidle p {
    width: 100%;
    padding: 10px;
    text-align: center;
    height: auto;
    font-size: 16px;
    color: cadetblue;
}

#tipWrapper .tipContainer .tipFoot {
    width: 100%;
    height: 40px;
    border-top: 1px solid cadetblue;
}

#tipWrapper .tipContainer .tipFoot span {
    display: block;
    float: right;
    width: 50px;
    height: 24px;
    text-align: center;
    font-size: 14px;
    margin-right: 15px;
    margin-top: 6px;
    line-height: 24px;
    cursor: pointer;
}

#tipWrapper .tipContainer .tipFoot span.cancel {
    color: #fff;
    background: #4c9fff;
    border-radius: 5px;
}

#tipWrapper .tipContainer .tipFoot span.sure {
    color: #fff;
    background: cadetblue;
    border-radius: 5px;
}

.navGroup {
    width: 100%;
    height: 60px;
    background: #4c9fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
}

.navGroup .navText {
    width: 10%;
    float: left;
    color: #fff;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    margin-left: 30px;
}

#navShowbtn {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0px;
    z-index: 9999;
    color: #fff;
    border-radius: 50%;
    background: #4c9fff;
}

#navShowbtn em {
    width: 60px;
    height: 60px;
    display: block;
    color: #fff;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}

.monitorModal {
    width: 5%;
    float: left;
    color: #fff;
    line-height: 60px;
    text-align: center;
    font-size: 40px;
}

.monitorModal em {
    cursor: pointer;
}

.editLine {
    width: 5%;
    float: left;
    color: #fff;
    line-height: 62px;
    text-align: center;
    font-size: 43px;
    cursor: pointer;
}

.saveBtn {
    float: left;
    width: 5%;
    height: 60px;
    font-size: 39px;
    color: #fff;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
}

.skin {
    float: left;
    width: 5%;
    height: 60px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    position: relative;
    margin-right: 10px;
}

.skin p {
    height: 30px;
    line-height: 30px;
}

.skin input {
    position: absolute;
    width: 100%;
    left: 0;
    top: 30px;
    height: 24px;
}

.skin label {
    position: absolute;
    height: 24px;
    width: 100%;
    left: 0;
    top: 30px;
    z-index: 99;
    background: #fff;
    padding: 5px;
    border-radius: 3px;
}

.skin label .clickColor {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.alginCenter{
    height: 60px;
    line-height: 60px;
    width: 60px;
    float: left;
    color: #fff;
    font-size: 40px;
    text-align: center;
    cursor: pointer;
}



.articWrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
}

#opcityMark {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 99999;
    background: none;
    display: none;
}

.posiclass {
    position: absolute;
    z-index: 99999;
    background: #fff;
    border: 4px dashed cadetblue;
    cursor: move;
    opacity: .8;
}

.artLeft {
    width: 100%;
    height: 100%;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: all .1s;
}

.insertWrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    overflow: scroll;
}

#conorFlag {
    background: none;
    width: 1px;
    height: 1px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

.initChart {
    background: #fff;
    height: 160px;
    position: absolute;
    z-index: 99999;
    box-sizing: unset;
}

.linechartWrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 85;
}

/* css3 animate */

@keyframes conshow {
    from {
        left: 0;
        opacity: 0;
        width: 0px;
    }
    to {
        left: 100%;
        opacity: 1;
        width: 200px;
    }
}

@keyframes conhide {
    from {
        left: 100%;
        opacity: 1;
        width: 200px;
    }
    to {
        left: 0;
        opacity: 0;
        width: 0;
    }
}

.conModal {
    width: 200px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -8;
    height: auto;
    animation-fill-mode: forwards;
    border: 1px seagreen solid;
    border-radius: 10px;
    opacity: 0;
}

.conName {
    height: 32px;
    line-height: 32px;
    font-size: 14px;
}

.conName span {
    display: inline-block;
    width: 20%;
    height: 100%;
    text-align: center;
}

.conName input {
    width: 75%;
    border: 1px dashed #ccc;
}

.conSize {
    height: 32px;
    line-height: 32px;
}

.conSize input {
    width: 40%;
    margin-left: 5%;
    border: 1px dashed #ccc;
}

.conTitle {
    height: 32px;
    line-height: 32px;
    font-size: 14px;
}

.conTitle span {
    display: inline-block;
    width: 20%;
    height: 100%;
    text-align: center;
}

.conTitle input {
    width: 75%;
    border: 1px dashed #ccc;
}

.conStyle {
    height: 40px;
    line-height: 40px;
}

.conStyle span {
    display: block;
    float: left;
    width: 20%;
    text-align: center;
    font-size: 14px;
}

.conStyle em {
    display: block;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    float: left;
    width: 20%;
    margin-left: 4%;
    font-size: 14px;
    border: 1px solid #ccc;
    font-style: normal;
    text-align: center;
    cursor: pointer;
    margin-top: 5px;
}

.conX {
    height: 32px;
    line-height: 32px;
    font-size: 14px;
}

.conX span {
    display: inline-block;
    width: 35%;
    height: 100%;
    text-align: center;
}

.conX input {
    width: 55%;
    border: 1px dashed #ccc;
}

.conParms {
    height: auto;
    margin-bottom: 20px;
    font-size: 12px;
    border: 1px solid #ccc;
}

.conParms span {
    position: relative;
    display: inline-block;
    width: 25%;
    text-align: center;
    border-right: 1px solid #ccc;
}

.conParms select {
    width: 100%;
}

.conParms input {
    width: 100%;
}

.conBtn {
    height: 32px;
    line-height: 32px;
    font-size: 14px;
}

.conBtn button {
    display: inline-block;
    padding: 2px 15px;
    margin-left: 25px;
    background: linear-gradient(cadetblue, cadetblue);
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3em;
    box-shadow: 0 1px white inset;
    text-align: center;
    text-shadow: 0 1px 1px black;
    color: white;
    font-weight: bold;
    outline: none;
}

.bgmark {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 251, 251, 0.2);
    opacity: .9;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
}

.bgmark em {
    font-style: normal;
    font-weight: 800;
    font-size: 0;
    display: block;
    position: absolute;
    width: 10px;
    height: 20px;
    cursor: w-resize;
    background: url('../images/u160.png');
    background-size: 100% 100%;
}

.bgmark em.coner1 {
    top: 0;
    left: 0;
    margin-top: -10px;
    margin-left: -5px;
    cursor: nw-resize;
    transform: rotate(-45deg)
}

.bgmark em.coner2 {
    top: 50%;
    left: 0;
    margin-top: -10px;
    margin-left: -5px;
    transform: rotate(-90deg)
}

.bgmark em.coner3 {
    bottom: -10px;
    left: -5px;
    cursor: ne-resize;
    transform: rotate(45deg)
}

.bgmark em.coner4 {
    top: 100%;
    bottom: -10px;
    left: 50%;
    margin-left: -5px;
    cursor: n-resize;
}

.bgmark em.coner5 {
    bottom: -10px;
    left: 100%;
    margin-left: -5px;
    cursor: nw-resize;
    transform: rotate(-45deg)
}

.bgmark em.coner6 {
    top: 50%;
    left: 100%;
    margin-right: -5px;
    margin-top: -10px;
    cursor: w-resize;
    transform: rotate(-90deg)
}

.bgmark em.coner7 {
    top: -10px;
    right: -5px;
    cursor: ne-resize;
    transform: rotate(45deg)
}

.bgmark em.coner8 {
    top: -10px;
    left: 50%;
    margin-left: -2.5px;
    cursor: n-resize;
}

.bgmark em.coner9 {
    width: 50px;
    height: 50px;
    background: url('../images/u157.png');
    background-size: 100% 100%;
    cursor: move;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.bgLine {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 98;
    border: 1px solid #ccc;
    overflow: hidden;
    background-color: #fff;
    /* background-image: linear-gradient(transparent 7px, #ccc 7px, #ccc), linear-gradient(90deg, transparent 7px, #ccc 7px, #ccc) */
}

.bgLinecontent {
    width: 100%;
    height: 100%;
}

.artRight {
    width: 20%;
    height: 100%;
    position: absolute;
    right: 0;
    z-index: 10000;
    background: #fff;
}

#rightList {
    width: 100%;
    height: 100%;
}

.rightList_show {
    transform: translate(0, 0);
    transition: transform .1s;
}

.rightList_hide {
    transform: translate(100%, 0);
    transition: transform .1s;
}

#listTop {
    width: 100%;
    color: #fff;
    line-height: 60px;
    font-size: 18px;
    background: cadetblue;
    height: 60px;
    overflow: hidden;
}

.topBtn_show {
    transform: translate(0, 0);
    transition: transform .1s;
}

.topBtn_hide {
    transform: translate(-20%, 0);
    transition: transform .1s;
}

#topBtn {
    width: 20%;
    height: 100%;
    line-height: 60px;
    text-align: center;
    float: left;
}

#topBtn em {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 60px;
    font-style: none;
    font-style: normal;
    font-size: 30px;
    cursor: pointer;
    transform: rotate3d(0);
    transition: all .1s linear;
}

#topBtn em.desig {
    transform: rotateY(180deg);
    transition: all .1s linear;
}

#listIcon {
    height: 45%;
    width: 100%;
    box-shadow: -1px 16px 58px cadetblue inset;
    padding-bottom: 10px;
}

.swipRom {
    overflow-x: hidden;
    overflow-y: scroll;
    cursor: pointer;
    background: #fff;
}

.desingIcon {
    display: block;
    width: 0;
    height: 0;
    border: 5px solid cadetblue;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    transform: rotateX(0deg);
    float: left;
    margin-left: 3px;
    margin-right: 10px;
    margin-top: 10px;
    /* transition: all .05s; */
}

.desingIcon_animat {
    display: block;
    width: 0;
    height: 0;
    border: 5px solid cadetblue;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    transform: rotateX(180deg);
    float: left;
    margin-left: 3px;
    margin-right: 10px;
    margin-top: 10px;
    /* transition: all .05s; */
}

.listBlock {
    height: auto;
    background: #fff;
}

.listTip {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    cursor: pointer;
    color: darkcyan;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#elementList {
    width: 100%;
    height: 50%;
    background: #fff;
    overflow: hidden;
}

#elementList .listTool {
    width: 100%;
    height: 40px;
    background: cadetblue;
    font-size: 22px;
    color: #fff;
    line-height: 40px;
}

#elementList .listTool em {
    margin-left: 10px;
    cursor: pointer;
}

#elementList .listTool p {
    width: 60px;
    font-size: 15px;
    margin-left: 5px;
    margin-right: 10px;
    float: left;
    position: relative;
}

#elementList .listTool p i {
    font-style: normal;
}

#elementList .listTool p input {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 10px;
    outline: none;
    border: none;
    background: #fff;
}

#elementList .eleSwiper {
    height: 100%;
    width: 100%;
}

#elementList .eleSwiper .eleScroll {
    width: 100%;
    height: 100%;
    padding-bottom: 110px;
    overflow-x: hidden;
}

#elementList .eleSwiper .eleScroll ul {
    width: 100%;
    list-style: none;
}

#elementList .eleSwiper .eleScroll ul li {
    width: 100%;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid cadetblue;
    color: cadetblue;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

#elementList .eleSwiper .eleScroll ul li input {
    width: 15px;
    height: 15px;
    display: block;
    float: left;
    top: 8px;
    left: 5px;
    position: absolute;
}

#elementList .eleSwiper .eleScroll ul li em {
    display: block;
    height: 100%;
    width: 100%;
    font-style: normal;
    padding-left: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 10px;
}

#elementList .eleSwiper .eleScroll ul li b.upLeave {
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    left: 25px;
    top: 0;
}

#elementList .eleSwiper .eleScroll ul li b.downLeave {
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    left: 45px;
    top: 0;
}

/* css3 animate */

@keyframes blockHeight_height {
    from {
        height: 0;
    }
    to {
        height: auto;
        min-height: 60px;
    }
}

@keyframes blockHeight_none {
    from {
        height: auto;
        min-height: 60px;
    }
    to {
        height: 0;
    }
}

.blockRom {
    width: 100%;
    border-bottom: 1px solid #ccc;
    animation: blockHeight_none .1s linear;
    animation-fill-mode: forwards;
    overflow: hidden;
}

.blockRom_show {
    width: 100%;
    border-bottom: 1px solid #ccc;
    animation: blockHeight_height .1s linear;
    animation-fill-mode: forwards;
    overflow: hidden;
}

/* 编辑框 */

.editDv {
    width: 0;
    height: auto;
    background: #fff;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    padding-bottom: 20px;
    /* border: 1px solid cadetblue; */
    left: 100%;
    z-index: 999999;
    overflow: hidden;
}

.editDv .name {
    height: 34px;
    font-size: 14px;
    line-height: 34px;
}

.editDv label {
    display: block;
    float: left;
    font-size: 14px;
    width: 80px;
    text-align: center;
}

.editDv .name input {
    outline: none;
    border-radius: 5px;
    background: #fff;
    -webkit-appearance: none;
    border: 1px solid #ccc;
    height: 24px;
    padding-left: 3px;
    width: 290px;
}

.editDv .size {
    height: 34px;
    font-size: 14px;
    line-height: 34px;
}

.editDv .size input {
    outline: none;
    border-radius: 5px;
    background: #fff;
    -webkit-appearance: none;
    border: 1px solid #ccc;
    height: 24px;
    padding-left: 3px;
    width: 140px;
    margin-right: 10px;
}

.editDv .color {
    height: 34px;
    line-height: 34px;
}

.editDv .color input {
    outline: none;
    -webkit-appearance: none;
    border: 1px solid #ccc;
    width: 140px;
    height: 24px;
    padding-left: 3px;
}

/* 工具栏 */

.editTools {
    width: 0;
    height: 40px;
    min-width: 240px;
    position: absolute;
    top: -40px;
    margin-left: 0;
    z-index: 999999;
}

.toolsList {
    position: relative;
    width: 100%;
    height: 30px;
    background: cadetblue;
    border-radius: 5px;
    color: #fff;
    line-height: 30px;
    font-size: 16px;
    overflow: hidden;
}

.toolsList em {
    margin-left: 13px;
    font-style: normal;
    cursor: pointer;
}

.toolsList em:hover {
    transform: scale(1.4);
    transition: all .1s;
}

.toolsList em input {
    width: 40px;
    height: 22px;
    outline: none;
    border: none;
    border-radius: 3px;
    margin-left: 2px;
    text-align: center;
    cursor: pointer;
}

.toolsList label.input {
    background: #fff;
    color: #000;
    position: absolute;
    width: 26px;
    height: 20px;
    left: 65px;
    top: 6px;
    border-radius: 3px;
    line-height: 20px;
    text-align: center;
    font-style: normal;
    margin-left: 13px;
    z-index: 99;
    cursor: pointer;
}

#markModal {
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid cadetblue;
    background: cadetblue;
    opacity: 0.4;
    z-index: 999999;
}


