#squareUseredit {
    height: auto;
}

#squareUseredit .colorLabel {
    height: 34px;
    line-height: 34px;
}

#squareUseredit .colorLabel .colorBlock {
    border: 1px solid #ccc;
    width: 24px;
    height: 24px;
    float: left;
    margin-top: 5px;
    cursor: pointer;
}